* {
    letter-spacing: 1px;
}

html, body {
    margin: 0px;
    padding: 0px;
    background-color: #1d262f;
    width: 100%;
    font-family: Lato;
    font-weight: 400;
    color: #cacaca;
    height: 100%;
}

.no_scroll {
    overflow: hidden;
}

header {
    /* height: 60px; */
    /* text-align: center; */
    /* width: 100%; */
    /* float: right; */
    /* position: fixed; */
    /* z-index: 1; */
    box-shadow: 0px 1px 10px #ffffff4d;
    background: #1d262f;

    display: inline-block;
    /* float: right; */
    text-align: right;
    position: fixed;
    animation: showtop 1.5s;
    z-index: 4;
    width: 100%;
    /* background: #2a3948; */
    padding: 20px;
    box-sizing: border-box;
}

h1, h2 {
    color: #5d8cc0;
}

h1 {
    font-size: 22pt;
}

h2 {
    text-align: center;
    font-weight: 300;
}

h2 span {
    width: 90px;
    display: inline-block;
    background: #14A76C;
    height: 1px;
    vertical-align: middle;
}

strong {
    color: #14A76C;
}

header > p {
    margin: 20px;
}

.mask {
    position: fixed;
    height: 100%;
    width: 100%;
    background: #1d262fad;
    z-index: 0;
    opacity: 0;
    transition-duration: 0.5s;
}

aside {
    width: 20%;
    height: 100%;
    position: fixed;
    z-index: 3;
    -webkit-animation: showleft 1s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: showleft 1s; /* Firefox < 16 */
    -ms-animation: showleft 1s; /* Internet Explorer */
    -o-animation: showleft 1s; /* Opera < 12.1 */
    animation: showleft 1s;
    left: -200px;
    transition-duration: 0.5s;
}

aside.active {
    left: 0;
    background: #212c37b8;
}

aside.active ~ .mask {
    display: block;
    opacity: 1;
    z-index: 2;
}

aside nav ul {
    list-style: none;
    height: 100%;
    padding-left: 10px;
    padding-top: 10px;
    margin: auto;
}

aside nav li {
    margin: 10px;
}

nav {
    height: 100%;
    width: 100%;
    position: relative;
}

aside nav li:first-child {
    margin-top: 0px;
}

.hamburger {
    padding: 0px;
    float: left;
    outline: none;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    background-color: #cacaca !important;
    width: 38px !important;
    height: 2px !important;
}

a {
    text-decoration: none;
    color: #cacaca;
    transition-duration: 0.2s;
}

a:hover {
    color: #14A76C;
}

.menu a:hover {
    margin-left: 5px;
    position: relative;
}

footer {
    position:fixed;
    bottom:0px;
    width:100%;
    z-index: 3;
}

.go_to_top {
    float: right;
    margin-right: 30px;
}

p {
    font-weight: 300;
}

em {
    font-weight: 300;
    color: #14A76C;
}

.job_description {
    font-size: 16pt;
}

hr {
    border-width: 0.5px;
    border-color: #5d8cc0;
}

input[type=submit]:hover {
    border-color: #14A76C;
    color: #14A76C;
}

.container {
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 50px;
    padding-top: 20px;
}

.inner_container {
    width: 95%;
    margin: auto;
}

.home_content {
    width: 100%;
    height: 100%;
}

#profile_img  {
    height: 220px;
    border: 2px solid #5d8cc0;
    border-radius: 100%;
    box-shadow: 0px 0px 10px #ffffff4d;
    position: relative;
    -webkit-animation: showtop 1.5s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: showtop 1.5s; /* Firefox < 16 */
    -ms-animation: showtop 1.5s; /* Internet Explorer */
    -o-animation: showtop 1.5s; /* Opera < 12.1 */
    animation: showtop 1.5s;
}

.home_content h1 {
    margin-bottom: 10px;
    font-weight: 300;
    position: relative;
    -webkit-animation: showbottom 1.5s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: showbottom 1.5s; /* Firefox < 16 */
    -ms-animation: showbottom 1.5s; /* Internet Explorer */
    -o-animation: showbottom 1.5s; /* Opera < 12.1 */
    animation: showbottom 1.5s;
}

.home_content__top {
    text-align: center;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 340px;
}

.jobs_content {
    width: 100%;
    height: 100%;
    clear: both;
    text-align: center;
}

@keyframes showleft {
    from { opacity: 0; left: -25%; }
    to   { opacity: 1; left: -200px; }
}

@keyframes showtop {
    from { opacity: 0; top: -80px; }
    to   { opacity: 1; top: 0; }
}

@keyframes showbottom {
    from { opacity: 0; bottom: -40px; }
    to   { opacity: 1; bottom: 0; }
}

.location {
    color: #cacaca;
    display: inline-block;
    margin-top: 10px;
}

.location i{
    color: #5d8cc0;
}

section {
    position: relative;
    height: 100%;
}

section:nth-child(odd) {
    background: #2a3948;
}

#top_email {
    margin-right: 10px;
}

.social_icon {
    font-size: 18px !important;
    margin-right: 7px;
    color: #1d262f;
    background: #cacaca;
    padding: 4px;
    display: block;
    border-radius: 15px;
    width: 18px;
    height: 18px;
}

.social_icon:hover {
    background: #5d8cc0;
}

.fa-facebook {
    text-align: center;
    margin-right: 0;
}

.scroll_effect {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
    margin-bottom: 40px;
}

.scroll_effect img {
    height: 25px;
    position: relative;
    animation: showtop 1.5s;
}

.menu_holder {
    height: 70%;
    width: 100%;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
}

@media only screen and (max-width: 768px) {
    aside {
        width: 100%;
    }
    
    aside.active {
        text-align: center;
    }
}