body {
    background-image: url("./images/silverware.jpg");
    background-repeat: repeat;
    background-attachment: fixed;
    color: rgb(64, 64, 64);
    font-size: 11pt;
    font-family: Georgia, Garamond, serif;
}

footer {
    text-align: left
}

a {
    color: rgb(164, 164, 0);
}

span.canceled {
    text-decoration: line-through;
}

h1, h2 {
    color: rgb(164, 164, 0);
    background-color: rgb(240, 240, 240);
    text-decoration: underline;
    /* font-size: 22pt; */
    font-weight: bold;
    font-family: "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
}

h1 {
    text-align: center;
    font-size: 22pt;
}

h2 {
    font-size: 16pt;
}

ul li {
    list-style-image: url("./images/pie_icon.gif");
}

blockquote > article {
    background-color: rgb(255, 255, 168);
    font-style: italic; 
}