.aboutme_moods {
    height: 400px;
}

.aboutme_moods > div {
    width: 50%;
    float: left;
    height: 100%;
    text-align: center;
}

.aboutme_moods > div > img {
    height: 80%;
    width: 95%;
}

p::first-letter {
    font-size: 150%;
}