h2 {
    text-align: left;
}

#users {
    padding: 0;
}

.comments_list, .posts_list {
    display: none;
    margin-top: 20px;
}

.comments_list.active, .posts_list.active {
    display: block;
}

li {
    border: 1px solid;
    padding: 20px;
    list-style: none;
    margin-top: 10px;
}

.posts_list li {
    list-style: decimal;
    margin-top: 5px;
}

.comments_list li {
    list-style: lower-roman;
}